

body{
    margin: 0px;
    padding: 0px;
    background-color: #474747
}

header{
    background-color: var(--noir);
    display: flex;
    min-height: 10vh;
    justify-content: space-between;
    margin-bottom: 50px;
}

div {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    margin-left: 150px;
    font-family: var(--police);
    font-weight: bold;
    font-size: 22px;
    padding: 15px;
}

.Multivers{
    color: var(--blanc);

}

.Trip{
    margin-left: 0px;
    color: var(--turquoise);
}

.page_admin{
    margin-right: 100px;
    color: var(--blanc);
    font-family: var(--police);
    font-size: var(--taille-police);
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse; 
    font-family: var(--police);
    margin-bottom: 100px;
}

th, td {
    border: 2px solid var(--noir);
    padding: 8px 40px 8px 40px;
    
}

.entete1{
    background-color: #000000a1;
    color: #ffffffe3;
}

.entete2{
    font-size: 16px;
    background-color: #3f3d3dd0;
}   

#contenu{
    background-color: #f0ededda;
}

input[type="checkbox"]{
    transform: scale(1.2); 
    accent-color: var(--turquoise);
}

input[name="exclure"]{
    margin-left: 22px;
}

.enregistrer{
    margin-right: 0;
    padding: 10px 20px;
    background-color: var(--noir);
    font-family: var(--police);
    color: var(--blanc);
    border: none;
    font-weight: bold;
    border: none;
}

.enregistrer:hover{
    background-color: #111111a1;
    color: #f2f0f0a1;
    cursor: pointer;
}

.pages {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.pages a {
    margin: 0 5px;
    padding: 9px;
    background-color: #11111171;
    color: var(--blanc);
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.pages a.active {
    background-color: var(--noir);
}


