



body {
        font-family: var(--police);
        background: var(--gris);
        color: var(--turquoise);
        text-align: center;
        margin: 0px;
        padding: 0px;
        background-color: var(--couleur-fond);
        background-image: var(--topographique);
}


.bloc_inscription {
        position: absolute;
        width: 100%;
        top: 28%;
}


.containere {
        background: var(--noir);
        padding: 20px;
        border-radius: 10px;
        margin: 50px auto;
        width: 50%;
        box-shadow: 0 0 7px var(--turquoise);

}

h1 {
        font-size: 2.5em;
        text-shadow: 0 0 3px var(--turquoise);
        
        

}

input,
select,
button {
        width: 100%;
        padding: 10px 0px 10px 5px;
        margin: 10px 0px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        font-family: var(--police);
        
}

input,
select {
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
}

button {
        background: linear-gradient(90deg, var(--turquoise), #01554b);
        color: #000;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
        font-family: var(--police);
}

button:hover {
        background: linear-gradient(90deg, #01554b, var(--turquoise));
        box-shadow: 0 0 10px var(--turquoise);
}


.pays {
        font-size: 15px;
        color: var(--blanc)
}

.erreur_message {
        color: var(--or);
}

.connecter {
        color: var(--blanc);
        margin-bottom: 20px;
        margin-top: 10px;

}

.message_inscription {
        color: var(--blanc);
        font-size: 12px;
}

#inscription {
        text-decoration: none;
        border: none;
        box-shadow: none;
        text-shadow: none;
        margin-left: -12px;
}

#inscription:hover {
        color: var(--turquoise);
        text-decoration: underline;
}


.mdp-conteneur {
        position: relative;

}


.aff-mdp {
        position: absolute;
        right: 10px;
        width: 20px;
        top: 20px;
        cursor: pointer;
        
}


input{
    color: var(--champ-formule);     
}