body {
    margin: 0;
    padding: 0;
    background-color: var(--couleur-fond);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--police);
    background-image: var(--topographique);
    
}

.conteneur{
    color: #333;
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-top: 160px;
    background: rgb(240, 239, 239);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


.titre {
    font-size: 2rem;
    color:#000000;
    margin-top:20px;
}


.redirection{
    font-size:15px;
}

.redirection_lien {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #3a898f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.redirection_lien:hover {
    background-color: #47a7ad;
}

h2{
    margin-top: 35px;
}


