
@import url('commun.css');

.bandeau {
    display: flex;
    background-color: var(--noir);
    justify-content: space-between;
    font-family: var(--police);
    font-weight: bold;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}
.bandeau div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.bandeau a {
    text-decoration: none;
    color: var(--gris);
    margin: 0px 10px 0px 20px;
}

.bandeau img[src="contenu_css/logo.png"]{
    width: 75px;
    margin-left: 85px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.bandeau img[src="contenu_css/icon_profil_gris.png"]{
    width: 37px;
    margin-right: 60px;
}


.bandeau img[src="contenu_css/icon_profil_connecte.png"]{
    width: 37px;
    margin-right: 60px;
}

.bandeau img[src="contenu_css/panier_icon.png"]{
    width: 35px;
}


a[href="page_inscription.php"]{
    border: var(--turquoise) 1.5px solid;
    padding: 5px 12px;
    border-radius: 5px;
    color: var(--turquoise);
}



a[href="page_inscription.php"]:hover {
    border-color: var(--turquoise);
    color: #6dfdeb;
    text-shadow: 0px 0px 15px var(--turquoise);
    box-shadow: 0px 0px 7px var(--turquoise);
}

.bandeau img[src="contenu_css/icon_profil_gris.png"]:hover {
    content: url("contenu_css/icon_profil.png");
}

.bandeau img[src="contenu_css/icon_profil_connecte.png"]:hover {
    content: url("contenu_css/icon_profil.png");
}

.bandeau img[src="contenu_css/panier_icon.png"]:hover {
    content: url("contenu_css/panier_icon_blanc.png");
}

.bandeau img[src="contenu_css/recherche_gris.png"]{
    width: 30px;
    margin-right: 5px;
}

.bandeau a[href="page_destination.php#filtres"]{
    display: flex;
    align-items: center;
}

.bandeau a[href="page_destination.php#filtres"]:hover img[src="contenu_css/recherche_gris.png"] {
    content: url("contenu_css/recherche_blanc.png");
}

a:hover {
    color: var(--blanc);
}

span{
    color: var(--gris);
    margin-left: 15px;
    font-size: 20px;
}