@import url('commun.css');

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--gris);
    
    
}


.bloc_recherche {
   position: absolute;
   top: 20%;
   left: 20%;
}

.recherche {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    background: #f6f6f6f3;
    transition: box-shadow 0.25s;
}

.recherche:focus-within {
    box-shadow: 0 0 3px 1px var(--turquoise);
}

.recherche:focus-within span[class="material-symbols-outlined"] {
    color: #09dac1; 
}

.recherche_rapide {
    font-size: 15px;
    font-family: var(--police);
    color: var(--gris);
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 190px;
}

.onglets{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 33%;

    
}
.onglets > li  {
    flex: 1;
    list-style: none;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px -4px 25px -10px var(--noir);
    
    
}

.onglets > li:hover {
    background-color:#555;
    
}
.onglets > li.active {
    background-color: #1a1a1a;
    border-bottom: 3px solid var(--noir);
    transform:translateY(-3px);
}

.onglets > li a  {
    display: flex;
    align-items: center;
    text-decoration: none;
    color : var(--blanc);
    font-family: var(--police);
    font-size: var(--taille-police);
    
}

li > a > img {
    margin-left: 15px;
    margin-right: 15px;
    width: 10%;
}

#conteneur{
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenu{
    width: 400px;
    height: 350px;
    border-radius: 5px;
    background-color: var(--noir);
    transform: scale(1);
    transition: all 1s ease;
    padding: 10px;
    margin: 20px;
    font-family: var(--police);
}

.contenu p{
    color: var(--blanc);
    text-align: left;
    margin-left: 30px;
    font-size: var(--taille-police);
    font-weight: bold;
}

.contenu span{
    color: var(--blanc);
    font-size: 15px;
    display: block;
    
    
}

.contenu div{
    position: absolute;
    bottom: 20px; 
    right: 15px; 
    color: var(--or);
}

.contenu img{
    width: 100%;
    height: 50%;
    border-radius: 6px;
}

#conteneur:hover > .contenu:hover {
    transform: scale(1.05);
    transition: all 1s ease;
    box-shadow: 0px 0px 7px  var(--noir);
}

#conteneur:hover > :not(:hover) {
    transform: scale(0.9);
    transition: all 1s ease;
    filter: grayscale(65%);
    background: #0f0f0fd8;
}


.filtres_conteneur {
    position: fixed;
    width: 54%;
    top: 29%;
    left:71%;
    transform: translate(-50%, -50%);
    background: #141414ee;
    padding: 5px 20px;
    box-shadow: 0px 4px 10px var(--noir);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    color: var(--blanc);
    font-family: var(--police);
    font-size: 15px;
    accent-color: var(--turquoise);
    z-index: 102;
    
}


#filtres:target {
    opacity: 1;
    visibility: visible;
}

.fermer-btn {
    padding: 8px 15px;
    background: rgb(128, 128, 128);
    text-decoration: none;
    color: var(--blanc);
    border-radius: 5px;
}

.fermer-btn:hover {
    background: #3b3b3b;
    box-shadow: 0px 0px 15px var(--noir);
    transition: 0.1s;
}

input[type="submit"] {
    font-family: var(--police);
    font-size: 15px;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0px 0px 10px var(--noir);
    background-color: var(--or);
    border: none;
    margin-bottom: 5px;
}

input[type="submit"]:hover {
    background: #f5ea79f8;
    font-weight: bold;
    transition: 0.1s;
    box-shadow: 0px 0px 3px #f5ea79f8;

}

.titre_filtres{
    margin-top: 14px ;
   font-size: 16px;
   text-align: center;
   margin-bottom: 15px;
}


input[type="date"], select {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    padding: 2px;
    border-radius: 5px;
    margin-left: 10px;
}


.espace {
    margin-left: 45px;
}

label {
    margin-right: 5px;
    background-color: var(--gris);
    padding: 4px 8px;  
    border-radius: 5px;
}

.filtres_conteneur label,
.filtres_conteneur input, 
.filtres_conteneur select {

    margin : 12px 10px;
    
}

.voir_plus {
    text-decoration: none;
    color: var(--turquoise);
    font-family: var(--police);
    font-weight: bold;
    margin-right: 180px;
    font-size: 19px;
}




