@import url('commun.css');



body {
        font-family: var(--police);
        background: var(--gris);
        color: var(--turquoise);
        text-align: center;
        margin: 0px;
        padding: 0px;
        background-color: #141414f1;
        background-image: var(--topographique);

}


.bandeau {
        display: flex;
        background-color: var(--noir);
        justify-content: space-between;
        font-family: var(--police);
        font-weight: bold;
        position: fixed;
        z-index: 100;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;

}

.bandeau div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

}

.bandeau a {
        text-decoration: none;
        color: var(--gris);
        margin: 0px 10px 0px 20px;
}

.bandeau img[src="contenu_css/logo.png"] {
        width: 75px;
        margin-left: 85px;
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 5px;
}

.bandeau img[src="contenu_css/icon_profil_gris.png"] {
        width: 37px;
        margin-right: 60px;
}


.bandeau img[src="contenu_css/icon_profil_gris.png"]:hover {
        content: url("contenu_css/icon_profil.png");
}

.bandeau img[src="contenu_css/recherche_gris.png"] {
        width: 30px;
        margin-right: 5px;
}

.bandeau a[href="page_destination.html#filtres"] {
        display: flex;
        align-items: center;
}

.bandeau a[href="page_destination.html#filtres"]:hover img[src="contenu_css/recherche_gris.png"] {
        content: url("contenu_css/recherche_blanc.png");
}

a:hover {
        color: var(--blanc);
}

span {
        color: var(--gris);
        margin-left: 15px;
        font-size: 20px;
}


.bloc_inscription {
        position: absolute;
        width: 100%;
        top: 10%;
}


.containere {
        background: var(--noir);
        padding: 20px;
        border-radius: 10px;
        margin: 50px auto;
        width: 50%;
        box-shadow: 0 0 7px var(--turquoise);
}

h1 {
        font-size: 2.5em;
        text-shadow: 0 0 3px var(--turquoise);

}

input,
select,
button {
        width: 100%;
        padding: 10px 0px 10px 5px;
        margin: 10px 0px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        font-family: var(--police);
}

input,
select {
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
}

button {
        background: linear-gradient(90deg, var(--turquoise), #01554b);
        color: #000;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
        font-family: var(--police);
}

button:hover {
        background: linear-gradient(90deg, #01554b, var(--turquoise));
        box-shadow: 0 0 10px var(--turquoise);
}


.pays {
        font-size: 15px;
        color: var(--blanc);
}

select {
        background-color: #161616;
}



