@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --turquoise: #23f7dd;
    --noir : #000000;
    --or : #e2db8a;
    --blanc : #ffffff;
    --gris : #3f3d3d;
    --police : montserrat;
    --taille-police : 18px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--noir);
}

.bandeau {
    display: flex;
    background-color: var(--noir);
    justify-content: space-between;
    font-family: var(--police);
    font-weight: bold;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}
.bandeau div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.bandeau a {
    text-decoration: none;
    color: var(--gris);
    margin: 0px 10px 0px 20px;
}

.bandeau img[src="contenu_css/logo.png"]{
    width: 75px;
    margin-left: 85px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.bandeau img[src="contenu_css/icon_profil_gris.png"]{
    width: 37px;
    margin-right: 60px;
}

a[href="page_inscription.html"]{
    border: var(--turquoise) 1.5px solid;
    padding: 5px 12px;
    border-radius: 5px;
    color: var(--turquoise);
}



a[href="page_inscription.html"]:hover {
    border-color: var(--turquoise);
    color: #6dfdeb;
    text-shadow: 0px 0px 15px var(--turquoise);
    box-shadow: 0px 0px 7px var(--turquoise);
}

.bandeau img[src="contenu_css/icon_profil_gris.png"]:hover {
    content: url("contenu_css/icon_profil.png");
}

.bandeau img[src="contenu_css/recherche_gris.png"]{
    width: 30px;
    margin-right: 5px;
}

.bandeau a[href="page_recherche.html"]{
    display: flex;
    align-items: center;
}

.bandeau a[href="page_recherche.html"]:hover img[src="contenu_css/recherche_gris.png"] {
    content: url("contenu_css/recherche_blanc.png");
}

a:hover {
    color: var(--blanc);
}

span{
    color: var(--gris);
    margin-left: 15px;
    font-size: 20px;
}

.bloc{
    position: relative;
    height: 87vh;
    width: 100%;
    overflow: hidden;
}

.bloc video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}

.bloc h1{
    color: var(--blanc);
    text-align: center;
    font-family: var(--police);
    margin-top: 365px;
    font-size: 60px;
    text-shadow: 0px 0px 3px var(--blanc);
    transition: all 0.5s ease;
}

.bloc h1:hover{
    font-size: 80px;
    text-shadow: 0px 0px 7px var(--turquoise);
    transition: all 0.5s ease;
}

.presentation{
    background-color: var(--gris);
    margin-top: -30px;
    margin-left: 110px;
    margin-right: 110px;
    font-family: var(--police);
    padding: 10px 0px 10px 30px;
    color: var(--blanc);
    font-size: var(--taille-police);
    line-height: 1.8;
    border-radius: 10px;
    position: relative;
}

.destinations {
    position: absolute;
    top : 15px;
    right: 20px;
    background-color: var(--turquoise);
    color: var(--noir);
    padding: 10px 15px 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 1650px) {
    .presentation{
        padding-right: 5px;
    }
    .destinations {
        position: static;
        margin-top: 10px;
        display: flex;
        margin-right: 25px;
    }
}
    

.destinations img {
    width: 30px;
    margin-left: 10px;
}

.destinations:hover{
    background-color: #6dfdeb;
    box-shadow: 0px 0px 7px #6dfdeb;
    color: var(--noir);
}

#bloc2{
    background-color:#141414;
    margin-top: -25px;
    padding-top: 120px;
    padding-bottom: 90px;
}

#sousbloc2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 70px;
    background-color: #141414;
}

.zone1 {
    background-color: var(--gris);
    color: var(--blanc);
    font-family: var(--police);
    font-size: var(--taille-police);
    padding: 25px;
    border-radius: 10px;
    margin: 40px;
    flex: 1;
    min-width: 300px;
    box-sizing: border-box;
    line-height: 1.8;
}

.zone1 ul li {
    margin-bottom: 15px;
}

.zone1 p{
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 22px;
}


#sousbloc2:hover > .zone1:hover {
    transform: scale(1.05);
    transition: all 1s ease;
}

#sousbloc2:hover > :not(:hover) {
    transform: scale(0.9);
    transition: all 1s ease;
    filter: grayscale(65%);
    background: #413f3f8c;
}

#sousbloc2:hover > :not(:hover) .casque_vr {
    content: url("contenu_css/casque_vr_sombre.png");
}

.casque_vr {
    margin-top: -100px;
    margin-left: 600px;
    width: 200px;
}

@media screen and (max-width: 1750px){
    .casque_vr{
        margin-left: 175px;
        margin-top: -65px;
        width: 150px;
    }
} 

footer{
    background-color: var(--noir);
    text-align: center;
    padding: 10px;
    font-family: var(--police);
    font-weight: bold;
    font-size: var(--taille-police);
}

.Multivers{
    color: var(--blanc);

}

.Trip{
    margin-left: 0px;
    color: var(--turquoise);
}








