@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --turquoise: #23f7dd;
    --noir : #000000;
    --or : #e2db8a;
    --blanc : #ffffff;
    --gris : #3f3d3d;
    --police : montserrat;
    --taille-police : 18px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--gris);
    
    
}

.bandeau {
    display: flex;
    background-color: var(--noir);
    justify-content: space-between;
    font-family: var(--police);
    font-weight: bold;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}
.bandeau div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.bandeau a {
    text-decoration: none;
    color: var(--gris);
    margin: 0px 10px 0px 20px;
}

.bandeau img[src="contenu_css/logo.png"]{
    width: 75px;
    margin-left: 85px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.bandeau img[src="contenu_css/icon_profil_gris.png"]{
    width: 37px;
    margin-right: 60px;
}

a[href="page_inscription.html"]{
    border: var(--turquoise) 1.5px solid;
    padding: 5px 12px;
    border-radius: 5px;
    color: var(--turquoise);
}



a[href="page_inscription.html"]:hover {
    border-color: var(--turquoise);
    color: #6dfdeb;
    text-shadow: 0px 0px 15px var(--turquoise);
    box-shadow: 0px 0px 7px var(--turquoise);
}

.bandeau img[src="contenu_css/icon_profil_gris.png"]:hover {
    content: url("contenu_css/icon_profil.png");
}

.bandeau img[src="contenu_css/recherche_gris.png"]{
    width: 30px;
    margin-right: 5px;
}

.bandeau a[href="#filtres"]{
    display: flex;
    align-items: center;
}

.bandeau a[href="#filtres"]:hover img[src="contenu_css/recherche_gris.png"] {
    content: url("contenu_css/recherche_blanc.png");
}

a:hover {
    color: var(--blanc);
}

span{
    color: var(--gris);
    margin-left: 15px;
    font-size: 20px;
}

.bloc_recherche {
   position: absolute;
   top: 20%;
   left: 20%;
}

.recherche {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    background: #f6f6f6f3;
    transition: box-shadow 0.25s;
}

.recherche:focus-within {
    box-shadow: 0 0 3px 1px var(--turquoise);
}

.recherche:focus-within span[class="material-symbols-outlined"] {
    color: #09dac1; 
}

.recherche_rapide {
    font-size: 15px;
    font-family: var(--police);
    color: var(--gris);
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 190px;
}


.texte{
    position: absolute; 
    top: 32%;
    left: 15%;
    color: var(--blanc);
    font-family: var(--police);
    display: flex;
    align-items: center;
}

img[src="contenu_css/tendance.png"]{
    margin-left: 15px;
    width: 15%;
}

#conteneur{
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenu{
    width: 400px;
    height: 350px;
    border-radius: 5px;
    background-color: var(--noir);
    transform: scale(1);
    transition: all 1s ease;
    padding: 10px;
    margin: 20px;
    font-family: var(--police);
}

.contenu p{
    color: var(--blanc);
    text-align: left;
    margin-left: 30px;
    font-size: var(--taille-police);
    font-weight: bold;
}

.contenu span{
    color: var(--blanc);
    font-size: 15px;
    display: block;
    
    
}

.contenu div{
    position: absolute;
    bottom: 20px; 
    right: 15px; 
    color: var(--or);
}

.contenu img{
    width: 100%;
    height: 50%;
}

#conteneur:hover > .contenu:hover {
    transform: scale(1.05);
    transition: all 1s ease;
    box-shadow: 0px 0px 7px  var(--noir);
}

#conteneur:hover > :not(:hover) {
    transform: scale(0.9);
    transition: all 1s ease;
    filter: grayscale(65%);
    background: #0f0f0fd8;
}


.filtres_conteneur {
    position: fixed;
    width: 54%;
    top: 34%;
    left:71%;
    transform: translate(-50%, -50%);
    background: #141414ee;
    padding: 5px 20px;
    box-shadow: 0px 4px 10px var(--noir);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    color: var(--blanc);
    font-family: var(--police);
    font-size: 15px;
    accent-color: var(--turquoise);
    z-index: 102;
}


#filtres:target {
    opacity: 1;
    visibility: visible;
}

.fermer-btn {
    padding: 8px 15px;
    background: rgb(128, 128, 128);
    text-decoration: none;
    color: var(--blanc);
    border-radius: 5px;
}

.fermer-btn:hover {
    background: #3b3b3b;
    box-shadow: 0px 0px 15px var(--noir);
    transition: 0.1s;
}

input[type="submit"] {
    font-family: var(--police);
    font-size: 15px;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0px 0px 10px var(--noir);
    background-color: var(--or);
    border: none;
    margin-bottom: 5px;
}

input[type="submit"]:hover {
    background: #f5ea79f8;
    font-weight: bold;
    transition: 0.1s;
    box-shadow: 0px 0px 3px #f5ea79f8;

}

.titre_filtres{
    margin-top: 14px ;
   font-size: 16px;
   text-align: center;
}


input[type="date"], select {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    padding: 2px;
    border-radius: 5px;
    margin-left: 10px;
}






